<html lang="en">
    <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/bell.png">
    
  <meta name="apple-mobile-web-app-title" content="CodePen">
  
    <meta name="description" content="Project-interactive-data-base">
  <meta name="keywords" content="responsive menu, css responsive menu, tables, RES API, databases">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/mainPage.css">
    <link rel="stylesheet" media="all" href="../../assets/styles/icons.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  
  
  </head>
  
  <body>
  
  <header>
  <section>
    <img
    src="http://www.pngicons.net/uploads/2018/03/s-Of-Happy-Holidays.png"
      height="70"
      alt="Home"
      loading="lazy"
      style="margin-top: -1px; bottom: 1000px;"
    />
  <a href="https://www.linkedin.com/in/sutharmayur" id="logo" target="_blank">Happy-Holidays</a>
  
  <label for="toggle-1" class="toggle-menu"><ul><li></li> <li></li> <li></li></ul></label>
  <input type="checkbox" id="toggle-1">
  
  <nav>
  <ul>
  <li><a href="#logo"><i class="icon-home"></i>Home</a></li>
  <li><a href="#about"><i class="icon-user"></i>About</a></li>
  <li><a href="#portfolio"><i class="icon-thumbs-up-alt"></i>Portfolio</a></li>
  <li><a href="#services"><i class="icon-gear"></i>Services</a></li>
  <li><a href="#gallery"><i class="icon-picture"></i>Gallery</a></li>
  <li><a href="#contact"><i class="icon-phone"></i>Contact</a></li>
  </ul>
  </nav>
  </section>
</header>
  
<main>
    <section class="flex_row_1">
        <div class="flex_item_1">
            <h3>Сьогодні святкують</h3>
            <p>kjlkajlfjdslfjlsad</p>
        </div>
        <div class="flex_item_2">
            <hr>
            <br>
            <div style="background-color: #FFE000; width: 20px;height: 20px;float: left;margin-right: 15px;"></div>
            Дні народження
            <br>
            <br>
            <div style="background-color: rgb(212, 8, 8); width: 20px;height: 20px;float: left;margin-right: 15px;"></div>
            Державні Свята
            <br>
            <br>
            <div style="background-color: #7E66FF; width: 20px;height: 20px;float: left;margin-right: 15px;"></div>
            Пам'ятні дні
            <br>
        </div>
    </section>
</main>

  <footer>
    <div class="wrapper">
        <ul>
          <li class="facebook"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
          <li class="twitter"><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
          <li class="instagram"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
          <li class="google"><a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
          <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
  </footer>

  </body>
  </html>