<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <meta name="description" content="Project-interactive-data-base">
    <meta name="keywords" content="responsive menu, css responsive menu, tables, RES API, databases">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/bell.png">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/for_API.css">
    <title>Technical Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/mainPage.css">
    <link rel="stylesheet" media="all" href="../../assets/styles/icons.css">
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
 

</head>

<body>

    <header>
        <section>
            <img src="http://www.pngicons.net/uploads/2018/03/s-Of-Happy-Holidays.png" height="70" alt="Home"
                loading="lazy" style="margin-top: -1px; bottom: 1000px;" />
            <a href="/" id="logo" target="_blank">Happy-Holidays</a>

            <label for="toggle-1" class="toggle-menu">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </label>
            <input type="checkbox" id="toggle-1">

            <nav>
                <ul>
                    <li><a href="/"><i class="icon-home"></i>Home</a></li>
                    <li><a href="/for-developers/author-information/"><i class="icon-user"></i>About</a></li>
                    <li><a href="https://github.com/vasa-hadzheha/Labs.git"><i class="icon-thumbs-up-alt"></i>Portfolio</a></li>
                    <li><a href="for-developers/technical-information/"><i class="icon-gear"></i>API</a></li>
                    <li><a href="https://github.com/vasa-hadzheha/Project-interactive-data-base.git"><i class="icon-phone"></i>Project on Github</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <div class="body-wrapper">
            <div  class="body-inner-wrapper">
                <div class="hero-main">
                    <br>
                    <h1>Інформація для розробників</h1>
                    <br>
                    <p>
                        Для роботи з API зручно використовувати платформи такі як <a rel="nofollow"
                            href="https://www.postman.com/">Postman</a> або аналоги.
                        У цій документації всі приклади наведені з використанням Postman.
                    </p>
                    <br>
                    <img src="https://guide.diia.gov.ua/static/img/api_docs/post_head.png">
                    <br>
                    <h1> Ознайомтеся з короткою інструкцією як користуватись вашими АPI </h1>
                    <br>
                    <h3> GET: </h3>
                    <br>
                    <p>
                        Для того, щоб отримати список всіх машин - надішліть GET запит на адресу http://localhost:3000/cars
                    </p>
                    <br>
                    <img src="/screen/getAll.png">
                    <br>
                    <p>
                        Для того, щоб отримати список всіх машин зя якоюсь умовою, в даному прикладі ми шукаємо машину
                        певної марки - надішліть GET запит на адресу http://localhost:3000/cars/query?mark="марка машини"
                    </p>
                    <br>
                    <img src="/screen/queryOneElement.png">
    
                    <br><br>
    
                    <p>
                        Для того, щоб отримати список всіх машин за двома і більше умов необхідно надіслати
                        GET запит на адресу http://localhost:3000/cars/query?mark=марка машини&num=номер машини
                    </p>
                    <br>
                    <img src="/screen/Query_mark&num.png">
    
                    <br>
                    <br>
                    <h3> POST: </h3>
                    <br>
    
                    <p>
                        Для того, щоб додати нову машину - надішліть POST запит на адресу http://localhost:3000/cars, у тілі
                        запиту в форматі JSON повинен бути опис машини. Розглдаються такі поля: 1) owner поле рядкового типу
                        (string),
                        містить ім'я та фамілію власника машини; 2) mark поле рядкового типу (string), містить марку машини;
                        3) number поле рядкового типу (string),
                        містить номер машини; 4) colour поле рядкового типу (string),
                        містить колір машини.
                    </p>
                    <br>
                    <img src="/screen/postCar.png">
    
                    <br>
                    <br>
                    <h3> PUTCH: </h3>
                    <br>
    
                    <p>
                        Для того, щоб обновити дані конкретної машини - надішліть PUTCH запит на адресу
                        http://localhost:3000/cars/("id number"), у тілі
                        запиту в форматі JSON повинні бути описані поля машини, які будуть змінені. Розглдаються такі
                        можливі поля для виправлення або обновлення інформації: 1) owner поле рядкового типу
                        (string),
                        містить ім'я та фамілію власника машини; 2) mark поле рядкового типу (string), містить марку машини;
                        3) number поле рядкового типу (string),
                        містить номер машини; 4) colour поле рядкового типу (string),
                        містить колір машини.
                    </p>
                    <br>
                    <img src="/screen/putch.png">
    
                    <br>
                    <br>
                    <h3> DELETE: </h3>
                    <br>
    
                    <p>
                        Для того, щоб видалити конкретну машину - надішліть DELETE запит на адресу
                        http://localhost:3000/cars/("id number").
                    </p>
                    <br>
                    <img src="/screen/delete.png">
    
                </div>
            </div>
        </div>
    </main>

    <footer>
        <ul class="social">
        <li><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
        <li><a href="#" target="_blank"><i class="icon-facebook"></i></a></li>
        <li><a href="#" target="_blank"><i class="icon-linkedin"></i></a></li>
        <li><a href="#" target="_blank"><i class="icon-pinterest"></i></a></li>
        <li><a href="#" target="_blank"><i class="icon-google-plus"></i></a></li>
        <li><a href="#" target="_blank"><i class="icon-instagram"></i></a></li>
        </ul>
        </footer>

</body>

</html>