<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>National Geografic</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/styles/styles.css">
</head>

<header>
  <section class="header-wrapper">
    <div class="upper-wrapper">
      <span>
        <h1><strong>Theme:"TV program"</strong></h1>
        <a href="https://www.nationalgeographic.com/
        ">
          <img src="./Images for Channel/1200px-National_Geographic_Channel.svg.png" alt="uzhnu-logo" class="logo">
        </a>
      </span>
    </div>
    <div class="header-inner-wrapper">
      <div class="logo-holder">
        <figure>
          <fieldset>
            <legend>Sign-in</legend>
            <label for="login"> Login </label>
            <input type="text" id="login"> <br>
            <label for="password"> Password </label>
            <input type="password" id="password"> <br>
            <caption><a href="https://support.google.com/mail/answer/41078?hl=en&co=GENIE.Platform%3DDesktop">forgot password</a></caption>
            </fieldset>
        </figure>
      </div>
      <nav class="navigation">
        <ul class="nav-ul">
          <li><a href="https://en.wikipedia.org/wiki/National_Geographic" class="navigation-link">Wikipedia</a></li>
          <li><a href="https://www.nationalgeographic.com/" class="navigation-link">Main Channel</a></li>
          <li><a href="https://www.nationalgeographic.com/" class="navigation-link">NatgeoTV</a></li>
        </ul>
        <form class="example" action="https://www.google.com/search">
          <input type="text"placeholder="Search..." name="q">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </nav>
    </div>
  </section>
</header>

<body>
  <div class="body-wrapper">
    <div style="text-align: center" class="body-inner-wrapper">
      <section class="hero-main">
        <div class="allContent">
          <div class="header-content"><strong>Content</strong></div>
          <div class="content">
            <ol>
              <li>
                <a href="#ds">
                  Overview
                </a>
              </li>
              <li>
                <a href="#hd">
                  National Geografic Channel HD
                </a>
              </li>
              <li>
                <a href="#hag">
                  Controversy and criticism
                </a>
              </li>
              <li>
                <a href="#rose">
                  How a pyramid rose from the ashes of a colossal volcanic eruption
                </a>
              </li>
              <li>
                <a href="#sea">
                  Sea world
                </a>
              </li>
              <li>
                <a href="#table">
                  Table
                </a>
              </li>
            </ol>
          </div>
        </div>
        <h2 id="ds">Overview</h2>
        <hr>
        <p> In the United States, the National Geographic Channel launched on January 7, 2001 as a
          joint venture of National Geographic
          <img class="inner-image" src="./Images for Channel/original.jpg" alt="">Television & Film and Fox Cable
          Networks. National Geographic provides programming expertise and the Fox
          Networks
          Group provides
          its expertise on distribution, marketing, and advertising sales.
        </p>
        <p>
          On December 14, 2017, in a deal, The Walt Disney Company announced it would buy the
          majority of 21st Century Fox.
          Disney would assume control of Fox's controlling stake in the National Geographic partnership
          thereafter.Following
          the acquisition,
          National Geographic and its sister channels were folded into Walt Disney Television, with the president of the
          National Geographic Partners
          reporting directly to the Walt Disney Television chairman. Disney officially closed the deal on March 20,
          2019,
          having then added Nat Geo into its portfolio of networks.
        </p>
        <h2 id="hd">National Geographic Channel HD</h2>
        <hr>
        <p style="font-size: large;">
          The United States 720p high definition simulcast of the National Geographic Channel launched in January 2006.
          It is available on all major cable and satellite providers.
          Nat Geo Wild (stylized as Nat Geo WILD or abbreviated as NGW) is a cable/satellite TV channel focused on
          animal-related programs. It is a sister network to National Geographic Channel and it is the latest channel to
          be jointly launched by the National Geographic Society and Fox Cable Networks. It was launched in United
          States on March 29, 2010, focusing primarily on wildlife and natural history programming.
        </p>
        <table border="2px" width="300px">
          <caption>lab1.3</caption>
          <thead style="background-color: rgb(255, 166, 0);">
            <tr>
            <th> Клітинка 1 </th>
            <th> Клітинка 2 </th>
            <th> Клітинка 14 </th>
            <th> Клітинка 14 </th>
            <th colspan="2"> Клітинка 12 </th>
            <th> Клітинка 13 </th>
            <th> Клітинка 14 </th>
            <th> Клітинка 14 </th>
            <th> Клітинка 14 </th>
            </tr>
          </thead>
          <tbody style="background-color: rgb(109, 193, 226);">
            <tr>
            <th> Клітинка 3 </th>
            <td> Клітинка 4 </td>
            <td> Клітинка 5 </td>
            <td> Клітинка 14 </td>
            <td> Клітинка 14 </td>
            <td> Клітинка 12 </td>
            <td> Клітинка 13 </td>
            <td> Клітинка 14 </td>
            <td> Клітинка 14 </td>
            <td> Клітинка 14 </td>
            </tr>
          </tbody>
          <tr>
            <th> Клітинка 6 </th>
            <td> Клітинка 7</td>
            <td> Клітинка 8 </td>
            <td> Клітинка 14 </td>
            <td> Клітинка 14 </td>
            <td> Клітинка 12 </td>
            <td> Клітинка 13 </td>
            <td> Клітинка 14 </td>
            <td> Клітинка 14 </td>
            <td> Клітинка 14 </td>
            </tr>
            <tbody style="background-color: rgb(109, 193, 226);">
              <tr>
                <th> Клітинка 9 </th>
                <td> Клітинка 10 </td>
                <td> Клітинка 11 </td>
                <td> Клітинка 14 </td>
                <td> Клітинка 14 </td>
                <td> Клітинка 12 </td>
                <td> Клітинка 13 </td>
                <td> Клітинка 14 </td>
                <td> Клітинка 14 </td>
                <td> Клітинка 14 </td>
              </tr>
            </tbody>
            <tr>
              <th> Клітинка 12 </th>
              <td> Клітинка 13 </td>
              <td> Клітинка 14 </td>
              <td> Клітинка 14 </td>
              <td> Клітинка 14 </td>
              <td> Клітинка 12 </td>
              <td> Клітинка 13 </td>
              <td> Клітинка 14 </td>
              <td> Клітинка 14 </td>
              <td> Клітинка 14 </td>
              </tr>
              <tbody style="background-color: rgb(109, 193, 226);"> 
                <tr>
                  <th colspan="10"> Клітинка 12 </th>
                  </tr>
              </tbody>
                <tr>
                  <th colspan="10"> Клітинка 100 </th>
                  </tr>
          </table>
        <h2 id="hag">Controversy and criticism</h2>
        <hr>
        <p>
          In 2013, the network began airing the reality show Are You Tougher Than a Boy Scout?. National Geographic
          Channel was criticized for their association with the Boy Scouts of America, an organization which, until a
          vote in May of that year that overturned its ban, had forbidden openly gay members.

          Archaeologists have protested that National Geographic shows such as Diggers and Nazi War Diggers promote the
          looting and destruction of archaeological sites by promoting the work of metal detecting souvenir hunters and
          collectable dealers. In 2013 the National Geographic Channel set off a firestorm of controversy with its
          reality show Diggers. Professional archaeologists from the Society for Historical Archaeology, <img
            class="inner-image" src="./Images for Channel/national-geographic-future-nature-16.jpg"
            style="max-width: 500px !important">the largest
          scholarly group concerned with the archaeology of the modern world (A.D. 1400–present), roundly criticized the
          network for promoting the theft of cultural materials on public and private land. The show Nazi War
          Diggers was accused of showing unscientific and disrespectful handling of human remains. A promotional quote
          from a military relic dealer, "I feel that by selling things that are Nazi-related and for lots of money, I am
          preserving things that museums don't want to deal with," was removed from the channel's website in March 2014.
          National Geographic expressed regret for how the series was presented by its own website but maintained that
          many of the accusations against the series were based on misinformation. The show was repackaged, amid
          controversy, as Battlefield Recovery for air during 2016 on Channel 5 in the UK.
        </p>
        <p>
          Nat Geo Mundo is broadcast in American Spanish, and was launched in 2011.[10] It shares programming with the
          Nat Geo Channel available in Hispanic American countries.

          Nat Geo TV
          Nat Geo TV is an application for smartphones and tablet computers, along with Windows 10. It allows
          subscribers of participating pay television providers (such as Time Warner Cable and Comcast Xfinity) numerous
          viewing options:

          individual episodes of National Geographic and Nat Geo Wild's original series and documentaries (which are
          made available live)
        </p>
        <h2 id="rose">How a pyramid rose from the ashes of a colossal volcanic eruption</h2>
        <hr>
        <blockquote
          cite="https://www.nationalgeographic.co.uk/science-and-technology/2021/09/how-a-pyramid-rose-from-the-ashes-of-a-colossal-volcanic-eruption">
          <p>
            Fifteen hundred years ago, Ilopango, a caldera volcano in what is now El Salvador, erupted in one of the
            largest events of its kind in recorded history. Known as the Tierra Blanca Joven eruption, it shot 10.5
            cubic miles’ worth of tephra—pumice and ash—into the air, more than 100 times the amount produced by the
            Mount St. Helens eruption of 1980. The solids that resettled blanketed the valley below; those that didn’t
            are thought to have contributed to a cooler climate throughout the Northern Hemisphere.
            <br>
            The eruption has long been credited with hastening the end of the ancient Maya civilisation that flourished
            throughout Mexico and Central America. But a new study in the journal Antiquity suggests that the eruption
            didn’t portend doom—at least not for an area only about 25 miles from the caldera. Instead, it enabled the
            swift construction of a massive Maya pyramid, a monumental structure that signalled the resilience of those
            who built it.
            <br>
            “Events like eruptions and drought have often been considered a main factor in ancient collapse,
            abandonment, or decline,” says study author Akira Ichikawa, a postdoctoral associate at the University of
            Colorado, Boulder. “My research suggests ancient people were more resilient, flexible, and innovative.”
            <br>
            Ichikawa conducted excavations in San Andrés, a Maya settlement in the Zapotitán Valley near what is now San
            Salvador, the capital of El Salvador. There lie the ruins of the Campana structure, a towering pyramid that
            at the time would have dwarfed everything else in the valley.
            <br>
            As the team dug several excavation trenches, they uncovered eight layers of building materials. Eventually
            they hit some 16 feet of pure white tephra that contained only a few shards of ceramics and other materials,
            suggesting the builders had carefully sifted through the ash and pumice before using it to build.
          </p>
        </blockquote>
        <h2 id="sea">Sea world</h2>
        <hr>
        <p>
          In the open ocean in the dead of night, a light-studded downline silently sinks a hundred feet into the
          water’s inky depths.

          Minutes later, there’s a splash as divers plunge in too. Equipped with scuba gear, a bevy of lights, and
          <img class="inner-image" src="./Images for Channel/mm8431_160530_3679.webp">
          waterproof DSLR cameras clipped to their suits, David Doubilet and Jennifer Hayes descend into a realm of the
          unimaginable.
        </p>
        <p>“When you first get in, it is a galaxy of light,” Doubilet says of black-water diving. “You see fellow divers
          with their shafts of focusing lights and red lights: a galaxy here and a galaxy there.”</p>
        <p>In the dark—whether it’s the Sargasso Sea of the North Atlantic or the tropical waters off Indonesia’s Raja
          Ampat archipelago—Doubilet and Hayes see things even many other marine biologists (Hayes is one) will never
          see. Black-water diving is “the equivalent of a marine ‘Sorcerer’s Apprentice,’” Doubilet says. “All strange
          things that are dancing around at night.”</p>
          <img class="inner-mage" src="./Images for Channel/stock_mm9696_indonesia20201820j20hayes202020raja20ampat20oct20920202003820.webp">
        <p>The duo capture rare images of creatures in their larval forms and observe the clever ways the animals
          survive the night, like a juvenile jack that hides behind a jellyfish. But as the current propels them through
          the sea, divers must keep an eye on their bubbles to remember which way is up—and on the downline’s lights to
          make sure they don’t drift too far from their boat.

          “It’s all at the mercy of the current,” Hayes says. “You’re just moving with [the animals], lucky to encounter
          them.”</p>
          <hr>
          <h2 id="table">Table</h2>
        <table>
          <caption>All information can be fake </caption>
          <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
            <th>TV</th>
          </tr>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
            <td>Hippo</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
            <td>Tiger</td>
          </tr>
          <tr>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
            <td>Crocodile</td>
          </tr>
          <tr>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>UK</td>
            <td>Fish</td>
          </tr>
          <tr>
            <td>Laughing Bacchus Winecellars</td>
            <td>Yoshi Tannamuri</td>
            <td>Canada</td>
            <td>Shark</td>
          </tr>
          <tr>
            <td>Magazzini Alimentari Riuniti</td>
            <td>Giovanni Rovelli</td>
            <td>Italy</td>
            <td>Monkey</td>
          </tr>
        </table>
      </section>
    </div>
    <section>
      <div class="register-wrapper">
        <div class="register-block">
          <h3 class="register-title">Input your e-mail for checking your article!</h3>
          <p>We will send you message if your aticle is correct.</p>
          <input type="text" placeholder="Input title">
          <input type="submit" value="Pin file" />
          <p><textarea rows="4"cols="82">

          </textarea></p>
          <form action="">
            <input type="email" placeholder="Your e-mail" />
            <input type="submit" value="Send" />
          </form>
        </div>
      </div>
    </section>
  
    <footer class="footer-widget-container" style="left:30px">
      <p>Гаджеги Василя</p>
    </footer>
</body>

</html>