<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scripts/FetchPublicHolidays.js"></script>
    <script src="/scripts/PublicHolsList.js" defer></script>
</head>
<body>
    <h1> Holidays </h1>

    <table id="PublicHolidays">

    </table>

</body>
</html>