
.body-wrapper {
	background: #eaafc8;
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
    background: linear-gradient(to right, #eaafc8, #654ea3);
  min-height: 100vh;
}

.body-inner-wrapper {


	margin: 0 auto;
}


.inner-image {

	float: left;
	padding: 20px 20px 20px 0;

	margin: auto 0;
}
.hero-main {
	text-align: justify;
}
p, h3, img {
	padding-right: 20px;
	padding-left: 20px;
}
main img{
	max-width: 1290px;
	width: 100%;
	height: auto;
}